.wrapper {
  width: 100%;
}

.no-cars-page {
  text-align: center;
  font-size: 1.5rem;
  margin: 30% 30%;
  font-weight: 700;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('/reserve_car.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(150, 191, 2, 0.8);
  backdrop-filter: blur(10px);
}

.forms-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.back-button-div {
  position: fixed;
  font-size: 1.8rem;
  top: 40px;
  left: 40px;
  z-index: 10;
  background-color: rgba(150, 191, 2, 0.1);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.forms-container label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.forms-container .input-wrapper {
  width: 50%;
}

.forms-container .form-input,
.select-form {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 2px solid #c2d974;
  border-radius: 1rem;
  background-color: #98bf0c;
  color: #fff;
  outline: none;
}

.select-fom {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 2px solid #c2d974;
  border-radius: 1rem;
  background-color: #98bf0c;
  color: #fff;
  outline: none;
}

.forms-container .form-submit {
  width: 25%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

.text-res {
  color: #96bf02;
}

.forms-container button:hover {
  background-color: #0056b3;
}

.forms-container .select-form {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-right: 85px;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.headers-title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.infos {
  width: 90%;
  overflow-wrap: break-word;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.lines {
  width: 40%;
  border-bottom: 2px solid #c2d974;
  margin-bottom: 10px;
}

/* Make the form responsive */
@media only screen and (min-width: 768px) {
  .forms-container form {
    width: 50%;
  }
}
